<%- include ('home.ejs') %>

    <div style="text-align: center;">
        <% biditem.forEach(user=>{ %>
            <h4>ID:</h4>
            <p>
                <%= user.product_id %>
            </p>
            <h4>Name:</h4>
            <p>
                <%= user.product_name %>
            </p>
            <h4>Description:</h4>
            <p>
                <%= user.product_description %>
            </p>
            <h4>Price:</h4>
            <p>
                <%= user.product_price %>
            </p>
            <h4>Category:</h4>
            <p>
                <%= user.product_category %>
            </p>
            <h4>Publish Date:</h4>
            <p>
                <%= user.publish_date %>
            </p>
            <% }) %>
    </div>
<div class="container">
    <h2>Modal Example</h2>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>