<%- include('../partials/head'); %>
    <%- include ('navbar') %>
        <div style="text-align: center;" class="alldetails">
            <% biditem.forEach(user=>{ %>
                <h4>ID:</h4>
                <p>
                    <%= user.product_id %>
                </p>
                <h4>Name:</h4>
                <p>
                    <%= user.product_name %>
                </p>
                <h4>Description:</h4>
                <p>
                    <%= user.product_description %>
                </p>
                <h4>Price:</h4>
                <p>
                    <%= user.product_price %>
                </p>
                <h4>Category:</h4>
                <p>
                    <%= user.product_category %>
                </p>
                <h4>Publish Date:</h4>
                <p>
                    <%= user.publish_date %>
                </p>

                <% }) %>
        </div>

        <a href="/purchase"> Add your bid</a>